<div class="modal fade" id="confirmDeleteProveedoresModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="z-index:999999">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Eliminar Proveedor</h5>
      </div>

      <div class="modal-body">
          <div class="text-center">
            <label class="form-label">¿Seguro que desea eliminar este proveedor?</label>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" @click.prevent="eliminarProveedor" :disabled="eliminandoProveedor">
          <span v-if="eliminandoProveedor"><i class="fas fa-spinner fa-spin"></i> Eliminando Proveedor...</span>
          <span v-else>Eliminar Proveedor</span>
        </button>
      </div>
    </div>
  </div>
</div>
