<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main"
      style="border-width:0">
  <div class="scrollbar-inner">
    <div class="d-flex justify-content-center sidenav-header align-items-center" style="background-color: #0d6441">
      <a href="/">
        <img src="/static/assets/img/brand/logo-prw.jpg" class="navbar-brand-img" alt="Logo Waffles Home" style="max-height: 3rem;">
      </a>
    </div>
    <div class="navbar-inner">
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'supplies' %}">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Insumos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="{% url 'records' %}">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Registros</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Perfil</span>
            </a>
          </li>
        </ul>
        <hr class="my-3">
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Recursos</span>
        </h6>
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'resources' %}">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Categorías | Proveedores</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active active-pro" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>