{% extends 'layouts/base.html' %}

{% block title %} Proveedores {% endblock title %}

{% block breadcrumb %} Categorías y Proveedores {% endblock %}

{% block navigation %}
{% with breadcrumb="Categorías y Proveedores" %}
    {% include "includes/navigation.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="app">
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="fixed-top" style="z-index: 9999;">
          <div v-for="msg in mensajesDinamicos" :key="msg.id"
               :class="['alert', 'm-0', 'rounded-0', 'alert-' + msg.tipo]"
               style="transition: opacity 0.5s;">
            [[ msg.texto ]]
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--5">
    <div class="row">
      <div class="col-xl-6  col-12">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="text-uppercase h2 m-0 p-0 ls-1"><strong> Proveedores </strong></h2>
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#proveedorModal"
                        style="height: fit-content">
                  <span class="d-none d-md-block"><i class="fas fa-plus fa-xs pb-2"></i> Agregar Proveedor</span>
                  <span class="d-md-none"><i class="fas fa-plus"></i></span>
                </button>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table align-items-center table-flush table-hover text-center" id="proveedoresDatatable"
                    style="margin-top: 15px;">
              <thead class="thead-light">
                <tr>
                  <th class="text-center text-dark h1" style="font-weight: 700; font-size: smaller">Id</th>
                  <th class="text-center text-dark h1" style="font-weight: 700; font-size: smaller">Proveedor</th>
                  <th class="text-center text-dark h1" style="font-weight: 700; font-size: smaller">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in proveedores" :key="item.id">
                  <td>[[ index + 1 ]]</td>
                  <td>
                    <strong>[[ item.nombre ]]</strong>
                  </td>
                  <td>
                    <div>
                      <button type="button" class="btn btn-warning" @click="openEditProveedoresModal(index)"
                        style="height: fit-content">
                        <i class="fas fa-pen"></i>
                      </button>
                      <button type="button" class="btn btn-danger" @click="openConfirmDeleteProveedoresModal(item.id)"
                        style="height: fit-content">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-xl-6  col-12">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="text-uppercase h2 m-0 p-0 ls-1"><strong> Categorías </strong></h2>
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#categoriaModal"
                        style="height: fit-content">
                  <span class="d-none d-md-block"><i class="fas fa-plus fa-xs pb-2"></i> Agregar Categoría</span>
                  <span class="d-md-none"><i class="fas fa-plus"></i></span>
                </button>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table align-items-center table-flush table-hover text-center" id="categoriasDatatable"
                    style="margin-top: 15px;">
              <thead class="thead-light">
                <tr>
                  <th class="text-center text-dark h1" style="font-weight: 700; font-size: smaller">ID</th>
                  <th class="text-center text-dark h1" style="font-weight: 700; font-size: smaller">Categoría</th>
                  <th class="text-center text-dark h1" style="font-weight: 700; font-size: smaller">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in categorias" :key="item.id">
                  <td>[[ index + 1 ]]</td>
                  <td>
                    <strong>[[ item.nombre ]]</strong>
                  </td>
                  <td>
                    <div>
                      <button type="button" class="btn btn-warning" @click="openEditCategoriasModal(index)"
                        style="height: fit-content">
                        <i class="fas fa-pen"></i>
                      </button>
                      <button type="button" class="btn btn-danger" @click="openConfirmDeleteCategoriasModal(item.id)"
                        style="height: fit-content">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "inventory/resourcesModals/categoriaModal.html" %}
  {% include "inventory/resourcesModals/proveedorModal.html" %}
  {% include "inventory/resourcesModals/confirmDeleteProveedoresModal.html" %}
  {% include "inventory/resourcesModals/confirmDeleteCategoriasModal.html" %}
  {% include "inventory/resourcesModals/editProveedoresModal.html" %}
  {% include "inventory/resourcesModals/editCategoriasModal.html" %}
</div>

{% endblock content %}

{% block javascripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {

    const {createApp} = Vue;

    const app = createApp({
      delimiters: ['[[', ']]'],

      data() {
        return {
          proveedores: JSON.parse('{{ proveedores_json|escapejs }}'),
          categorias: JSON.parse('{{ categorias_json|escapejs }}'),
          nuevoProveedor: '',
          nuevaCategoria: '',
          guardandoCategoria: false,
          eliminandoCategoria: false,
          editandoCategoria: false,
          guardandoProveedor: false,
          eliminandoProveedor: false,
          editandoProveedor: false,
          mensajesDinamicos: [],
          msgIdCounter: 0,
          idDeleteCategoria: 0,
          idDeleteProveedor: 0,
          idProveedorEdit: 0,
          idCategoriaEdit: 0,
        }
      },
      methods: {
        async editarCategoria() {
          if (this.editandoCategoria) return;
          this.editandoCategoria = true;

          try {
            const response = await fetch('{% url "editar_categoria" %}', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({
                  id: this.categorias[this.idCategoriaEdit].id,
                  nombre: this.categorias[this.idCategoriaEdit].nombre,
              })
            });

            const data = await response.json();

            if (data.status === 'success') {
                const actualizada = data.categoria
                const index = this.categorias.findIndex(
                    c => c.id === actualizada.id
                )

                if (index !== -1) {
                    this.categorias[index].nombre = actualizada.nombre
                }

                this.refrescarTablaCategorias();

                this.idCategoriaEdit = 0;

                $('#editCategoriaModal').modal('hide');

                this.mostrarAlerta(data.message, 'success');
            } else {
                this.mostrarAlerta(data.message, 'error');
            }
          }catch (e) {
            console.error(e);
            this.mostrarAlerta('Error de conexión con el servidor', 'error');
          } finally {
            this.editandoCategoria = false;
          }
        },
        async editarProveedor() {
          if (this.editandoProveedor) return;
          this.editandoProveedor = true;

          try {
            const response = await fetch('{% url "editar_proveedor" %}', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({
                  id: this.proveedores[this.idProveedorEdit].id,
                  nombre: this.proveedores[this.idProveedorEdit].nombre,
              })
            });

            const data = await response.json();

            if (data.status === 'success') {
                const actualizado = data.proveedor
                const index = this.proveedores.findIndex(
                    p => p.id === actualizado.id
                )

                if (index !== -1) {
                    this.proveedores[index].nombre = actualizado.nombre
                }

                this.refrescarTablaProveedores();

                this.idProveedorEdit = 0;

                $('#editProveedorModal').modal('hide');

                this.mostrarAlerta(data.message, 'success');
            } else {
                this.mostrarAlerta(data.message, 'error');
            }
          }catch (e) {
            console.error(e);
            this.mostrarAlerta('Error de conexión con el servidor', 'error');
          } finally {
            this.editandoProveedor = false;
          }
        },
        openEditCategoriasModal(index) {
          this.idCategoriaEdit = index;
          $('#editCategoriaModal').modal('show');
        },
        openEditProveedoresModal(index) {
          this.idProveedorEdit = index;
          $('#editProveedorModal').modal('show');
        },
        async eliminarCategoria() {
          if (this.eliminandoCategoria) return;
          this.eliminandoCategoria = true;

          try {
            const response = await fetch('{% url "eliminar_categoria" %}', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({
                  id: this.idDeleteCategoria
              })
            });

            const data = await response.json();

            if (data.status === 'success') {
                this.categorias = this.categorias.filter(
                  p => p.id !== data.deleted_id
                )
                this.refrescarTablaCategorias();

                this.idDeleteCategoria = 0;

                $('#confirmDeleteCategoriasModal').modal('hide');

                this.mostrarAlerta(data.message, 'success');
            } else {
                this.mostrarAlerta(data.message, 'error');
            }
          }catch (e) {
            console.error(e);
            this.mostrarAlerta('Error de conexión con el servidor', 'error');
          } finally {
            this.eliminandoCategoria = false;
          }
        },
        async eliminarProveedor() {
          if (this.eliminandoProveedor) return;
          this.eliminandoProveedor = true;

          try {
            const response = await fetch('{% url "eliminar_proveedor" %}', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({
                  id: this.idDeleteProveedor
              })
            });

            const data = await response.json();

            if (data.status === 'success') {
                this.proveedores = this.proveedores.filter(
                  p => p.id !== data.deleted_id
                )
                this.refrescarTablaProveedores();

                this.idDeleteProveedor = 0;

                $('#confirmDeleteProveedoresModal').modal('hide');

                this.mostrarAlerta(data.message, 'success');
            } else {
                this.mostrarAlerta(data.message, 'error');
            }
          }catch (e) {
            console.error(e);
            this.mostrarAlerta('Error de conexión con el servidor', 'error');
          } finally {
            this.eliminandoProveedor = false;
          }
        },
        openConfirmDeleteCategoriasModal(id) {
          this.idDeleteCategoria = id
          $('#confirmDeleteCategoriasModal').modal('show');
        },
        openConfirmDeleteProveedoresModal(id) {
          this.idDeleteProveedor = id
          $('#confirmDeleteProveedoresModal').modal('show');
        },
        async guardarNuevaCategoria() {
          if (this.guardandoCategoria) return;
          this.guardandoCategoria = true;

          try {
            const response = await fetch('{% url "agregar_categoria" %}', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({
                  nombre: this.nuevaCategoria
              })
            });

            const data = await response.json();

            if (data.status === 'success') {
                this.categorias.push(data.categoria);
                this.refrescarTablaCategorias();

                this.nuevaCategoria = '';

                $('#categoriaModal').modal('hide');

                this.mostrarAlerta(data.message, 'success');
            } else {
                this.mostrarAlerta(data.message, 'error');
            }
          }catch (e) {
            console.error(e);
            this.mostrarAlerta('Error de conexión con el servidor', 'error');
          } finally {
            this.guardandoCategoria = false;
          }
        },
        async guardarNuevoProveedor() {
          if (this.guardandoProveedor) return;
          this.guardandoProveedor = true;

          try {
            const response = await fetch('{% url "agregar_proveedor" %}', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({
                  nombre: this.nuevoProveedor
              })
            });

            const data = await response.json();

            if (data.status === 'success') {
                this.proveedores.push(data.proveedor);
                this.refrescarTablaProveedores();

                this.nuevoProveedor = '';

                $('#proveedorModal').modal('hide');

                this.mostrarAlerta(data.message, 'success');
            } else {
                this.mostrarAlerta(data.message, 'error');
            }
          }catch (e) {
            console.error(e);
            this.mostrarAlerta('Error de conexión con el servidor', 'error');
          } finally {
            this.guardandoProveedor = false;
          }
        },
        mostrarAlerta(texto, tipo = 'success') {
          const claseAlerta = tipo === 'error' ? 'danger' : tipo;
          const idActual = this.msgIdCounter++;

          this.mensajesDinamicos.push({
            id: idActual,
            texto: texto,
            tipo: claseAlerta
          });

          setTimeout(() => {
            this.mensajesDinamicos = this.mensajesDinamicos.filter(m => m.id !== idActual);
          }, 3000);
        },
        refrescarTablaProveedores() {
            if ($.fn.DataTable.isDataTable('#proveedoresDatatable')) {
                $('#proveedoresDatatable').DataTable().destroy();
            }

            this.$nextTick(() => {
                $('#proveedoresDatatable').DataTable({
                    pageLength: 10,
                    responsive: true,
                    lengthMenu: [5, 10, 25, 50],
                    dom:
                        "<'row mt-3'<'col-sm-6'l><'col-sm-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row mt-3 mb-3'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Mostrar _MENU_ registros",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "Ningún dato disponible en esta tabla",
                        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sSearch":         "Buscar:",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     ">",
                            "sPrevious": "<"
                        },
                    }
                });
            });
        },
        refrescarTablaCategorias() {
            if ($.fn.DataTable.isDataTable('#categoriasDatatable')) {
                $('#categoriasDatatable').DataTable().destroy();
            }

            this.$nextTick(() => {
                $('#categoriasDatatable').DataTable({
                    pageLength: 10,
                    responsive: true,
                    lengthMenu: [5, 10, 25, 50],
                    dom:
                        "<'row mt-3'<'col-sm-6'l><'col-sm-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row mt-3 mb-3'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Mostrar _MENU_ registros",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "Ningún dato disponible en esta tabla",
                        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sSearch":         "Buscar:",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     ">",
                            "sPrevious": "<"
                        },
                    }
                });
            });
        },
      },
      mounted() {
        this.refrescarTablaProveedores();
        this.refrescarTablaCategorias();
      },
      computed: {
      }
    });

    app.mount('#app');
  });
</script>
{% endblock javascripts %}